* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 105vh;
}
:root {
  --white: rgba(255, 255, 255, 1);
  --grey-600: rgba(0, 0, 0, 0.6);
  --grey-500: rgba(0, 0, 0, 0.5);
  --grey-400: rgba(0, 0, 0, 0.4);
  --grey-300: rgba(0, 0, 0, 0.3);
  --grey-200: rgba(0, 0, 0, 0.2);
  --grey-100: rgba(0, 0, 0, 0.1);
  --green: #3baf8a;
  --black: #000;
}
