.singleCourse {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 50px;
}
.shadow h1 {
  font-weight: 600;
}
.singleCourse .card-header {
  font-size: 18px;
}
.singleCourse .card-body {
  color: rgba(0, 0, 0, 0.7);
  padding: 15px 20px;
}
.singleCourse .card-title,
.singleCourse .card-text {
  font-size: 14px !important;
}
.singleCourse .btn {
  font-size: 13px;
}
