.h3 {
  color: green;
}
.courses {
  min-height: 100vh;
  padding: 30px 0;
}
.pt-6 {
  padding-top: 60px;
}
.courses__heading {
  color: #f2f2f2;
  background: #3baf8a;
  border-radius: 5px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0 5px 15px;
  padding: 10px;
  /* font-family: "Libre Baskerville", serif; */
}
.courses p {
  font-size: 18px;
}
.courses__banner {
  align-items: center;
  width: 300px;
  /* margin-left: 10%; */
}
.courses__button {
  margin-bottom: 10px;
  font-size: 17px;
  color: #fff !important;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}
.disabled-btn:hover {
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .courses .row {
    flex-direction: column-reverse;
  }
  .courses__heading {
    font-size: 40px;
  }
  .courses p {
    font-size: 16px;
  }
}
